.main-container {
    padding: 30px 30px;
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    gap: 10px;
}

.main-content {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

.gameboard-one, .gameboard-two {
    display: grid;
    grid-template-rows: 5fr 1fr;
    gap: 20px;
}


.grid-one, .grid-two {
    display: grid;
    grid-template-rows: repeat(10, 1fr);
    gap: 2px;
    width: 30vw;
    height: 30vw;
}

.row {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    gap: 2px;
    background-color: aquamarine;
}

.cell {
    background-color: green;
}

.cell.hit {
    background-color: red;
}

.cell.miss {
    background-color: grey;
}